
<script type="text/javascript" src="/js/groundStationPage.js"></script>

<div class="statusHeader">
	<script type="text/recon">
		@div {
			host: '{{fullSwimUrl}}'
			node: 'botState'
			botName:  @link(lane: 'name', type: value)
			@text([{$eager($botName#0)} GroundStation])
		}
	</script>
</div>

<div class="pageRow">
	<div class="vrWrapper">
		<div class="leftEye">
			<canvas id="leftEyeCanvas" width="800" height="600" style="background-image: url(http://{{{hostUrl}}}:8081/)"></canvas>
		</div>
		<div class="rightEye">
			<canvas id="rightEyeCanvas" width="800" height="600" style="background-image: url(http://{{{hostUrl}}}:8082/)"></canvas>
		</div>
	</div>
</div>
<div class="pageRow dataRow">
	<script type="text/recon">
		@div(class: pageRowColumn) {
			@div(class: compassContainer) {

				@div(id:compassCircle) {
					@div(class: north) { N }
					@div(class: south) { S }
					@div(class: east) { E }
					@div(class: west) { W }
					@div(class: innerCircle)
					@div(class: innerCircle2)
				}

				@div(class: numberContainer, id:compassLabel) {
					@div(id: valueLabel) {
						Compass
					}
					@div(id: compassValue) {
						@text($eager($compassLink#0))
					}
				}

			}
			@div(class: numberContainer) {
				host: '{{fullSwimUrl}}'
				node: 'botState'
				currentIntent: @link(lane: 'currentIntent', type: value)
				style: {
					width: '95%'
				}
				@div(id: valueLabel) {
					@text([Current Intent: {$eager($currentIntent#0)}])
				}
				@form {
					style: {
						text-align: 'left'
					}
					@input(type: button, value: 'RC Drive', onclick: 'page.setIntent(\'driveByRC\')')
					@input(type: button, value: 'Auto Drive', onclick: 'page.setIntent(\'autoDrive\')')
					@input(type: button, value: 'Go Idle', onclick: 'page.setIntent(\'idle\')')
					@input(type: button, value: 'AR Only', onclick: 'page.setIntent(\'arOnly\')')
					@input(type: button, value: 'Head Scan', onclick: 'page.setIntent(\'headScan\')')
				}
			}
		}
	</script>

	<script type="text/recon">
		@div(class: pageRowColumn) {
			host: '{{fullSwimUrl}}'
			@div(class: numberContainer) {
				node: 'sensor/centerDistance'
				currValue:  @link(lane: 'latest', type: value)

				@div(id: valueLabel) {
					Center
				}
				@div(id: compassValue) {
					@text($round($eager($currValue#0)/74/2))
				}
			}
			@div(class: numberContainer) {
				node: 'sensor/rearDistance'
				currValue:  @link(lane: 'latest', type: value)

				@div(id: valueLabel) {
					Rear
				}
				@div(id: compassValue) {
					@text($round($eager($currValue#0)/74/2))
				}
			}
			@div(class: numberContainer) {
				node: 'sensor/headDistance'
				currValue:  @link(lane: 'latest', type: value)

				@div(id: valueLabel) {
					Head
				}
				@div(id: compassValue) {
					@text($round($eager($currValue#0)/74/2))
				}
			}
		}
	</script>			

	<script type="text/recon">
		@div(class: pageRowColumn) {
			host: '{{fullSwimUrl}}'
			@div(class: numberContainer) {
				node: 'sensor/rightDistance'
				currValue:  @link(lane: 'latest', type: value)

				@div(id: valueLabel) {
					Right
				}
				@div(id: compassValue) {
					@text($round($eager($currValue#0)/74/2))
				}
			}
			@div(class: numberContainer) {
				node: 'sensor/leftDistance'
				currValue:  @link(lane: 'latest', type: value)

				@div(id: valueLabel) {
					Left
				}
				@div(id: compassValue, class: small) {
					@text($round($eager($currValue#0)/74/2))
				}
			}
		}
	</script>		
	<form>

	<div class="pageRowColumn">
		<div class="numberContainer tiltPanCard">
			<div id="valueLabel">Tilt/Pan</div>
			<div class="tiltPanValueLabel ">
				Tilt&nbsp;&nbsp;<span id="tiltValueLabel">0</span>
			</div>
			<div class="tiltPanValueLabel ">
				Pan <span id="panValueLabel">0</span>
			</div>
			<div class="tiltSliderDiv">
				<input type="range" id="tilt" name="volume" value="90" min="0" max="180" oninput="page.sendIntCommand('/sensor/tiltRadio', 'addLatest', this.value)" />
			</div>
			<div class="panSliderDiv">
				<input type="range" id="pan" name="volume" value="180" min="0" max="360" oninput="page.sendIntCommand('/sensor/panRadio', 'addLatest', this.value)"  />
			</div>
		</div>
	</div>
	</form>	
	<style>
		.radarCard {
			width: 370px;
			height: 250px;
		}
		#radarCanvas {
			background-color: darkcyan;
			width: 360px;
			height: 200px;
		}
	</style>		
	<div class="pageRowColumn">
		<div class="numberContainer radarCard">
			<div id="valueLabel">Radar</div>
			<div class="radarCanvasBox ">
				<canvas id="radarCanvas" width="360" height="200"></canvas>
			</div>
		</div>
	</div>			
</div>

<script type="text/recon">
	@script {
		[page = new GroundStationPage();]
		[page.start('{{fullSwimUrl}}')]
	}
</script>