<script type="text/recon">
@div {
	@form {
		host: '{{fullSwimUrl}}'
		node: 'botState'
		botName:  @link(lane: 'name', type: value)
		[Bot Name:]
		@input(type: text, name: device, value: $botName#0)
		@br
		currentIntent: @link(lane: 'currentIntent', type: value)
		[Current Intent:] 
		@input(type: text, name: device, value: $currentIntent#0)
		@br
		canDriveForward:  @link(lane: 'canDriveForward', type: value)
		[Can Drive Forwards:] 
		@input(type: text, name: device, value: $canDriveForward#0)
		@br
		[Can Drive Backwards:] 
		canDriveBackward:  @link(lane: 'canDriveBackward', type: value)
		@input(type: text, name: device, value: $canDriveBackward#0)
		@br
		[Is Driving Forwards:] 
		isDrivingForward:  @link(lane: 'isDrivingForward', type: value)
		@input(type: text, name: device, value: $isDrivingForward#0)
		@br
		[Is Driving Backwards:]
		isDrivingBackward:  @link(lane: 'isDrivingBackward', type: value)
		@input(type: text, name: device, value: $isDrivingBackward#0)
		@br
	}
}
</script>
<hr>
<script type="text/recon">
	@div(){
		style: {
			max-height: '300px'
			overflow: auto
			margin-bottom: '25px'
			font-family: FreePixel
			font-size: '14px'
		}
		data1: @link(host: '{{fullSwimUrl}}', node: 'botState', lane: 'javascriptLog', type: map)
		@each(t: $data1.*:) {
			@div {
				v: @let($data1.($t))
				@text($eager($v))
			}
		}
	}
</script>
<input type="button" value="Drive" onclick="drive()" />
<input type="button" value="Idle" onclick="idle()" />
<input type="button" value="AR Only" onclick="arOnly()" />
<script type="text/javascript">
	const fullSwimUrl = '{{fullSwimUrl}}';
	function drive() {
		swim.command(fullSwimUrl, `/botState`, 'setCurrentIntent', 'driveByRC');
	}
	function idle() {
		swim.command(fullSwimUrl, `/botState`, 'setCurrentIntent', 'idle');
	}
	function arOnly() {
		swim.command(fullSwimUrl, `/botState`, 'setCurrentIntent', 'arOnly');
	}

</script>

<p>faces:</p>
<script type="text/recon">

	@div(){
		style: {
			max-height: '300px'
			overflow: auto
			margin-bottom: '25px'
		}
		data1: @link(host: '{{fullSwimUrl}}', node: 'botState', lane: 'leftEyeFaces', type: value)
		@pre { @text($eager($data1#0)) }
	}
</script>
<script type="text/recon">

	@div(){
		style: {
			max-height: '300px'
			overflow: auto
			margin-bottom: '25px'
		}
		data2: @link(host: '{{fullSwimUrl}}', node: 'botState', lane: 'rightEyeFaces', type: value)
		@pre { @text($eager($data2#0)) }
	}
</script>